.quiz-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

h2{
    padding-bottom: 10px;
}
.quiz-question {
  margin-bottom: 20px;
}

.quiz-option {
  display: block;
  margin: 5px 0;
}

.correct-answer {
  margin-top: 5px;
  color: green;
  font-style: italic;
}


.submit-btn {
  padding: 10px 20px;
  background-color: #5185f5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #1d4ed8;
}

.score-display {
  margin-top: 20px;
  font-size: 18px;
}
